fastapi
uvicorn
langchain
openai
faiss-cpu
pypdf
python-docx
pandas
beautifulsoup4
tiktoken
python-multipart
langchain-community 
langchain-openai 
langchain-core     
python-dotenv
docx2txt
openpyxl
unstructured
requests
